@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
$fontFamile: "Poppins", sans-serif;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontFamile;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

code {
  font-family: $fontFamile;
}
